* {
    padding: 0;
    margin: 0;
}

.mainAddPr {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.body-add {
    width: 950px;
    height: 700px;
    display: flex;
}

.form-image {
    width: 50%;
    height: 100%;
    padding-top: 80px;
}

.form-input {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    padding-left: 28px;
    object-fit: cover;
    overflow: hidden;
    padding-top: 20px;
}

.select-category {
    width: 150px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #d3d1d1;
}

.upload {
    width: 330px;
    object-fit: cover;
    border: 0;
}

.imageContainer {
    position: relative;
    display: inline-block;
    margin: 7px;
    overflow: hidden;
}

.list-image {
    padding-top: 20px;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .14);

}

.img {
    width: 90%;
    height: 100%;
    overflow: hidden;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.infoProducts {
    height: 600px;
    width: 335px;
}

.name-product {
    height: 88px;
    width: 100%;
    padding-top: 10px;
}

.description-product {
    height: 88px;
    width: 100%;
    padding-top: 27px;
    border-radius: 2px;

}

.price-product {
    height: 88px;
    width: 100%;
    padding-top: 64px;
}


.create-product {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
}

.add {
    width: 330px;
    height: 60px;
    padding-top: 5px;
}

.delete-Button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #4f5052;
    color: #a8abaf;
    border: none;
    padding: 5px;
    cursor: pointer;
    display: none;
    border-radius: 10px 10px 10px 10px;
    font-weight: 400;
    font-size:12px;
    line-height: 16px;
    font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;;
}

.imageContainer:hover .delete-Button {
    display: block;
}

.save {
    width: 310px;
    height: 45px;
    background-color: red;
    border: 0;
    border-radius: 6px;
    color: white;
    padding-top: 2px;
}

.label {
    width: 330px;
    height: 24px;
}

.productName {
    width: 330px;
    height: 64px;
}

.label-des {
    width: 330px;
    height: 24px;
}

.description {
    width: 330px;
    height: 64px;
}

.textarea {
    width: 310px;
    padding: 5px;
    padding-left: 20px;
    border: 1px solid #d3d1d1;
}


.label-price {
    width: 330px;
    height: 24px;
}

.price {
    width: 330px;
    height: 64px;
}

.quantity-product {
    height: 88px;
    width: 100%;
    padding-top: 80px;

}

.label-quantity {
    width: 330px;
    height: 24px;
}

.quantity {
    width: 330px;
    height: 64px;
}

.category-product {
    height: 80px;
    width: 100%;
    padding-top: 95px;

}

.label-category {
    width: 330px;
    height: 24px;
}
