* {
    margin: 0;
    padding: 0;
}

.headerLogin {
    height: 83px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 9999;
    position: fixed;
    background-color: white;
}

.content {
    height: 598px;
    width: 100%;
    background-color: #e7403a;
}

/*.footer {*/
/*    height: 48px;*/
/*    width: 100%;*/
/*    background-color: blueviolet;*/
/*}*/

.headerLogin .headerDetail {
    width: 1153px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.headerLogin .headerDetail .left {
    height: 100%;
    width: 265px;
    display: flex;
    justify-items: center;
}

.headerLogin .headerDetail .right {
    height: 100%;
    width: 115px;
}

.headerLogin .headerDetail .left .logo {
    height: 100%;
    width: 220px;
    /*background-color: crimson;*/
}

.headerLogin .headerDetail .left .logo img {
    height: 100%;
    width: 133px;
}

.headerLogin .headerDetail .left .title {
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: #222222;
    margin-top: 30px;
    margin-left: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, 文泉驛正黑, "WenQuanYi Zen Hei", "Hiragino Sans GB", "儷黑 Pro", "LiHei Pro", "Heiti TC", 微軟正黑體, "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif;;
    width: 190px;
}

.headerLogin .headerDetail .right p {
    margin-top: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ee4d2d;
    font-family: "Helvetica Neue", Helvetica, Arial, 文泉驛正黑, "WenQuanYi Zen Hei", "Hiragino Sans GB", "儷黑 Pro", "LiHei Pro", "Heiti TC", 微軟正黑體, "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif;;
}



.main1 .content {
    display: flex;;
    align-items: center;
}

.row1 {
    display: flex;
    justify-content: center;
}

.intro {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #222222;
    font-family: "Helvetica Neue", Helvetica, Arial, 文泉驛正黑, "WenQuanYi Zen Hei", "Hiragino Sans GB", "儷黑 Pro", "LiHei Pro", "Heiti TC", 微軟正黑體, "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif;
    margin-top: 31.6px;
}

.usernameLogin {
    /*display: flex;*/
    /*justify-content: center;*/
    margin-top: 20px;
    border-radius: 5px 5px 5px 5px;
    margin-left: 30px;
}

.passwordLogin {
    /*display: flex;*/
    /*justify-content: center;*/
    margin-top: 20px;
    border-radius: 5px 5px 5px 5px;
    margin-left: 30px;
}

.main1 .content .background {
    height:560px;
    width: 560px;
    background-color: orange;
    margin-left: 200px;
}

.main1 .content .background img {
    width: 100%;
    height: 100%;
}

.main1 .content .Login {
    width: 400px;
    height: 432px;
    background-color: white;
    margin-left: 220px;
    border-radius: 5px 5px 5px 5px;
}

.row2 .usernameLogin input {
    height: 40px;
    width: 338px;
    padding-left: 20px;
    border: 1px solid #dbdbdb;
}

.row2 .passwordLogin input {
    height: 40px;
    width: 338px;
    padding-left: 20px;
    border: 1px solid #dbdbdb;
}

.row2 .usernameLogin .validate p {
    font-size: 12px;
}
.row2 .passwordLogin .validate p {
    font-size: 12px;
}


.buttonLogin {
    /*margin-top: 20px;*/
    display: flex;
    justify-content: center;
    border: none;
}

.row2 .buttonLogin button {
    width: 339px;
    height: 38px;
    background-color: #ee4d2d;
    border-radius: 5px 5px 5px 5px;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
}

@keyframes changeColor {
    0% {background-color: #ee4d2d}
    50% {background-color: #f3826c}
    100% {background-color: #ee4d2d}
}

.button button:focus{
    animation: changeColor 1s;
}
.other .loginGoogle button:focus{
    animation: changeColor 1s;
}

.note {
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.col1, .col3 {
    border-top: 1px solid #dbdbdb;
    width: 145px;
    margin-top: 6px;
}

.col2 {
    padding: 0 5px;
    font-size: 12px;
    color: #cccccc;
    font-weight: 400;
}

.other {
    display: flex;
    justify-content: center;
    width: 330px;
    border: 1px solid rgba(0, 0, 0, .26);
    margin-left: 30px;

}

.other .loginGoogle button {
    width: 100%;
    height: 38px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    border: none;
    display: flex;
    flex-direction: row;
}

.other .loginGoogle {
    width: 100%;
}


.other .press{
    width: 50px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #222222;
    margin-top: 12px;
}

.other .icon {
    margin-top: 7px;
}

.row3 {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.Register {
    display: flex;
    margin-top: 20px;
}

.row3 .Register p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ee4d2d;
    font-family: "Helvetica Neue", Helvetica, Arial, 文泉驛正黑, "WenQuanYi Zen Hei", "Hiragino Sans GB", "儷黑 Pro", "LiHei Pro", "Heiti TC", 微軟正黑體, "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif;;
    margin-top: 4.5px;
    padding-left: 6px;
}



