.side-bar {
    width: 15%;
    height: 100%;
    background-color: white;
    padding:10px 0;
    -webkit-box-shadow: 3px 0px 24px -1px rgba(219,216,219,1);
    -moz-box-shadow: 3px 0px 24px -1px rgba(219,216,219,1);
    box-shadow: 3px 0px 24px -1px rgba(219,216,219,1);
}
.side-bar .item {
    height: 50px;
    display: flex;
    align-items: center;
    color:#999999;
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
    margin-bottom: 30px;
}

.side-bar .item span {
    padding-left: 10px;
}

.item .link{
    text-decoration: none;
}


