* {
    margin: 0;
    padding: 0;
}
.headerInfo {
    height: 56px;
    /*background-color: #ee4d2d;*/
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: 0px 5px 3px 0.5px rgba(199,189,199,1);
    -moz-box-shadow: 0px 5px 3px 0.5px rgba(199,189,199,1);
    box-shadow: 0px 5px 3px 0.5px rgba(199,189,199,1);
}
.bodyInfo {
    display: flex;
    justify-content: center;
    background-color: #f6f6f6;
}

.headerInfo .left {
    width: 440px;
    height: 100%;
    /*background-color: blue;*/
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}

.headerInfo .right {
    width: 180px;
    height: 100%;
    /*background-color: brown;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerInfo .left .logo {
    width: 130px;
    height: 100%;
    background-color: black;
}

.headerInfo .left .logo img {
    width: 100%;
    height: 100%;
}

.headerInfo .left .title {
    display: flex;
    align-items: center;
}

.headerInfo .left .title .detail {
    font-weight: 500;
    font-size: 20px;
    color: #1d1d1d;
    margin-top: 17px;
}
.headerInfo .right .account p {
    font-weight: 400;
    font-size: 16px;
    color: #333333;
}

.headerInfo .right .account {
    margin-top: 15px
}

.main3 .bodyInfo .contentInfo {
    width: 1044px;
    height: 474px;
    background-color: #ffffff;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid black;*/
    flex-direction: row;
    -webkit-box-shadow: 0px 0px 3px 0.5px rgba(199,189,199,1);
    -moz-box-shadow: 0px 0px 3px 0.5px rgba(199,189,199,1);
    box-shadow: 0px 0px 3px 0.5px rgba(199,189,199,1);
}

.main3 .bodyInfo .contentInfo .infoDetails {
    width: 644px;
    height: 300px;
    /*background-color: white;*/
    /*border: 1px solid black;*/
    margin-bottom: 25px;

}

.imageCustomer {
    height: 292px;
    width: 242px;
    background-color: #ee4d2d;
}

.infoName {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    align-items: center;
    border: none;
}
.infoName .noteName {
    margin-right: 10px;
    margin-top: 33px;
}

.infoName .name {
    width: 383px;
    height:30px;
}

.infoName .name input{
    width: 100%;
    height:100%;
    padding-left: 12px;
    border: 0.5px solid #dbdbdb;
}


.infoAddress {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    align-items: center;
}
.infoAddress .noteAddress {
    margin-right: 10px;
    margin-left: -21.5px;
    /*margin-bottom: -32px;*/
    margin-top: -60px;
}

.infoAddress .address {
    width: 383px;
    height:30px;
}

.infoAddress .address input{
    width: 100%;
    height:100%;
    padding-left: 12px;
    border: 0.5px solid #dbdbdb;
}


.infoPhone {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    align-items: center;
    margin-top: 30px;
}
.infoPhone .notePhone {
    margin-right: 10px;
    margin-left: -60px;
    margin-bottom: -12px;
}

.infoPhone .phone {
    width: 383px;
    height:30px;
    margin-left: 30px;
}

.infoPhone .phone input{
    width: 100%;
    height:100%;
    padding-left: 12px;
    border: 0.5px solid #dbdbdb;
}



.infoBirthday {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    align-items: center;
    margin-top: 30px;
}
.infoBirthday .noteBirthday {
    margin-right: 10px;
    margin-left: -40px;
    margin-bottom: -12px;
}

.infoBirthday .birthday {
    width: 383px;
    height:30px;
    margin-left: 32.5px;
}

.infoBirthday .birthday input{
    width: 100%;
    height:100%;
    padding-left: 12px;
    border: 0.5px solid #dbdbdb;
}

input {
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #dbdbdb;
}


.decision {
    width: 644px;
    height: 50px;
    /*background-color: orangered;*/
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.decision .save {
    width: 92px;
    height: 38px;

}

.save button {
    width: 100%;
    height: 100%;
    background-color: #ee4d2d;
    border: 0.5px solid;
    border-radius: 5px 5px 5px 5px;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
}

.decision .cancel {
    width: 72px;
    height: 38px;
    margin-right: 10px;
}

.cancel button {
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 5px 5px;
    font-weight: 500;
    font-size: 14px;
    background-color: white;
    border: 0.5px solid #dbdbdb;
}

@keyframes changeColor {
    0% {background-color: #ee4d2d}
    50% {background-color: #f3826c}
    100% {background-color: #ee4d2d}
}

.decision .save button:focus{
    animation: changeColor 1s;
}

.addressDetail {
    display: flex;
    flex-direction: row;
    margin-left: 153px;
    justify-content: space-around;
    width: 381px;
}