.main-body-above {
    width: 100%;
    height: 30%;
    padding: 5px;
    display: flex;
    /*border: 1px solid black;*/
    box-sizing: border-box;
}

.slider {
    width: 70%;
    height: 100%;
    padding: 5px;
    /*border: 1px solid red;*/
    box-sizing: border-box;
}

.slider img, .carousel, .carousel-inner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-body-above-right {
    width: 30%;
    height: 100%;

    /*border: 1px solid greenyellow;*/
    box-sizing: border-box;
    margin-left: 5px;
}

.main-body-above-right-a {
    width: 100%;
    height: 50%;
    /*border: 1px solid pink;*/
    box-sizing: border-box;
    margin-bottom: 5px;
}
.main-body-above-right-a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-body-above-right-b img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-body-above-right-b {
    width: 100%;
    height: calc(50% - 5px);
    /*border: 1px solid pink;*/
    box-sizing: border-box;
    margin-bottom: 5px;

}