.content-product {
    background-color: #f6f6f6;
}

.content-product .search {
    height: 100px;
    background-color: white;
    -webkit-box-shadow: 3px 0px 24px -1px rgba(219, 216, 219, 1);
    -moz-box-shadow: 3px 0px 24px -1px rgba(219, 216, 219, 1);
    box-shadow: 3px 0px 24px -1px rgba(219, 216, 219, 1);
}

.content-product .products {
    height: 1000px;
    background-color: white;
    margin-top: 20px;
    -webkit-box-shadow: 3px 0px 24px -1px rgba(219, 216, 219, 1);
    -moz-box-shadow: 3px 0px 24px -1px rgba(219, 216, 219, 1);
    box-shadow: 3px 0px 24px -1px rgba(219, 216, 219, 1);
    padding: 20px 20px;
}

.table-product {
    width: 100%;
    border: 1px solid #d3d1d1;
    margin-top: 10px;
}

.table-product .header-table {
    height: 80px;
    background-color: #f6f6f6;
    display: flex;
}

.table-product .main-table {
    display: flex;
}

.check-he {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-he {
    width: 30%;
}

.cate-he {
    width: 20%;
}

.price-he {
    width: 20%;
}

.quantity-he {
    width: 5%;
}

.action {
    width: 20%;
    justify-content: center;
    display: flex;
}

.center {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 24px;
    color: #595d62;
}

.name-ma {
    display: flex;

}

.ma {
    padding: 10px 0;
    font-size: 14px;

}
.check-he input {
    width: 15px;
    height: 15px;
}

.name-ma img {
    width: 50px;
    height: 50px;
}

.name-p {
    box-sizing: border-box;
    padding: 5px 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.nav-bar-product {
    position: relative;
}
.nav-bar-product button {
    position: absolute;
    top: -9px;
    right: 0;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
}

.title-product {
    height: 32px;
}



