.bodySupplier{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    margin-top: 56px;
    /*border: 1px solid black;*/
    background-color: #f6f6f6;
}